modules = ["nodejs-20"]

[nix]
channel = "stable-25_05"

[workflows]

[[workflows.workflow]]
name = "Run"
mode = "sequential"
author = 45909031

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 24678
externalPort = 80
exposeLocalhost = true

[deployment]
run = ["sh", "-c", "npm start"]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "vite build --config vite.build.config.ts && tsc server/index.ts --outDir dist/server --module ESNext --moduleResolution bundler --skipLibCheck true"]
