modules = ["nodejs-20", "postgresql-16"]

[nix]
channel = "stable-25_05"

[workflows]

[[workflows.workflow]]
name = "Run"
mode = "sequential"
author = 45909031

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 24678
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 33079
externalPort = 5173

[[ports]]
localPort = 36291
externalPort = 4200

[[ports]]
localPort = 37657
externalPort = 6000

[[ports]]
localPort = 38443
externalPort = 3000

[[ports]]
localPort = 41563
externalPort = 3003

[[ports]]
localPort = 41639
externalPort = 3001

[[ports]]
localPort = 42759
externalPort = 6800

[[ports]]
localPort = 43863
externalPort = 3002

[deployment]
run = ["sh", "-c", "npm start"]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "vite build --config vite.build.config.ts && npx esbuild server/index.ts --bundle --platform=node --format=esm --outfile=dist/server/index.js --packages=external"]

[agent]
integrations = ["javascript_log_in_with_replit:1.0.0"]
